*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.uniwidth{
    width: 100%;
}

:root{
    --primary-color :#00d084;
    --black-color: black;
    --white-color: #fff;
}

h1{
    font-size: 2rem;
}

.flex{
    display: flex;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    max-width: 100%;
    max-height: 100%;
}

body{
    font-family: "Roboto", sans-serif;
    
}

.btn-hover{
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    transition: all 1s;
}

.btn-hover:hover{
    background-color: var(--black-color);
    color: var(--primary-color);
}

.main-h3{
    font-size: 1.5rem;
    color: var(--primary-color);
}


.main-h2{
    font-size: 3rem;
}


.main-p{
    max-width: 800PX;
    margin: auto;
    line-height: 1.5;
    /* padding: 0 3rem; */
    color: gray;
}

.main-max-width{
    max-width: 1150px;
    margin: auto;
}

header{
    /* background-image: url(./images/carousel-1.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: contrast(0.5); */
    position: relative;
    height: 100vh;
    overflow: hidden;
}
/* 
header::before{
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 10;
    opacity: 0.7;
} */

header img{
    position: relative;
    display: block;
    animation-name: imgtransition;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    /* transition: al; */
}

@keyframes imgtransition{
    0%{
        transform: scale(1);
        /* width: 10%; */
    }

    50%{
        transform: scale(1.4);
        /* width: 80%; */
    }

    100%{
        transform: scale(1);
    }
}

.header-section{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
}

header nav{
    justify-content: space-between;
    height: 100px;
    align-items: center;
    max-width: 94%;
    margin: auto;
    /* background-color: black; */
    color: white;
    font-family: "Roboto", sans-serif;
    border-bottom: 1px solid gray;
    /* position: sticky;
    top: 0; */
} 

header nav ul li a{
    padding: 0.5rem 1rem 2.4rem 1rem;
    font-size: 1rem;
    color: white;
    transition: all 2000ms ease;
    border-bottom: 0;
    position: relative;
}
/* 
.rightnav{
    display: block;
} */

nav ul li a:hover{
    color: var(--primary-color);
}

header nav ul li:first-child a{
    color: var(--primary-color);
}

header nav ul li a::before{
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--primary-color);
    transition: all 1000ms;
}

header nav ul li:last-child a::before{
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 66px;
    background-color: var(--primary-color);
    transition: all 1000ms;
}

header nav ul li a:hover::before{
    width: 100%;
}

header nav ul li:last-child a{
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 1.3rem;
    padding: 0.6rem 1.5rem;

}

header nav ul li:last-child a:hover{
    background-color: var(--black-color);
    color: var(--primary-color);
}

nav .logo h1{
    font-size: 2.3rem;
    color: var(--primary-color);
}

nav .logo i{
    margin-right: 10px;
}

nav .menu i{
    font-size: 1.5rem;
    display: block;
}

nav .menu{
    display: none;
}


.banner{
 height: 500px;   
 align-items: center;
 justify-content: center;
}

.banner .bannercontent{
    max-width: 1100px;
    text-align: center;
}

.bannercontent h1{
    font-size: 3.4rem;
    margin-block: 20px;
}

.bannercontent h2{
    color: var(--primary-color);
}

.bannercontent h2,h1{
    text-transform: uppercase;
}

.bannercontent p{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.bannercontent .btns button{
    padding: 1rem 2.8rem;
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 1.9rem;
    margin-right: 0.8rem;
    margin-top: 1.3rem;
    background-color: white;
    border: none;
    transition:  all 1s;
    color:var(--primary-color);
}

.btns button:nth-child(1):hover,.btns button:nth-child(2){
    background-color: var(--primary-color);
    color: var(--white-color);
}


.btns button:nth-child(2):hover{
    background-color: var(--black-color);
    color: var(--white-color);
}

.watchBtn:hover ~ .learnBtn{
    background-color: var(--white-color);
    color: var(--primary-color);
}

/* .bannercontent button:nth-child(2)
{
    background-color: var(--primary-color);
    color: var(--white-color);
} */

.bannercontent .follow-icons{
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

.banner .bannercontent .follow-icons span {
    font-size: 1.8rem;
    padding: 0px 0.5rem;
    padding-top: 0.5rem;
    /* background-color: var(--primary-color); */
    display: block;
}
.banner .bannercontent .follow-icons a {
    /* font-size: 1rem; */
    margin-right: 0.5rem;
    border-radius: 50%;
    background-color: var(--white-color);
    color: var(--primary-color);
    display: block;
    font-weight: bold;
    transition: all 1s;
}

.banner .bannercontent .follow-icons i{
    font-size: 17px;
    padding: 0.8rem 0.9rem;
}

.banner .bannercontent .follow-icons a:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}


/* ======= About Us Div Work ========= */


.about-content{
    width: 60%;
}


.about-content p{
    margin-top: 1.5rem;
    line-height: 1.5;
    color: gray;
}


.about-img{
    width: 40%;
    position: relative;
}

.about-us{
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.about-img img:nth-child(3)
{
    background-color: var(--primary-color);
    border-radius: 1rem 1rem 0px 0px;
}

.about-img img:nth-child(4)
{
    border-radius: 0px 0px 1rem 1rem;
}

.about-img img:nth-child(1)
{
    width: 144px;
    height: 144px;
    position: absolute;
    right: -6px;
    top: -21px;

}


.about-img img:nth-child(2)
{
    width: 101px;
    height: 147px;
    position: absolute;
    left:22px;
    top: -2px;
    transform: rotate(90deg);
}

.about-icons{
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 1rem;
}

.about-icons div{
    width: 47%;
    margin-top: 1rem;
    /* padding-bottom: 1rem; */
}

.about-icons div i{
    font-size: 3rem;
    color: var(--primary-color);
    margin-right: 1rem;
}

.about-icons div h4{
    font-size: 1.4rem;
    font-weight:600;
}

.about-icons div h4 span{
    font-size: 1rem;
    color: gray;
    display: block;
    margin-top: 0.4rem;
    font-weight: 300;
}

.about-icons div button{
    padding: 1.1rem 3rem;
    /* margin: auto; */
    font-size: 1.1rem;
    border-radius: 30px;
    transition: all 1s;
}

.about-icons div:nth-child(4) span{
    font-size: 1.5rem;
    font-weight: 300;
}

.our-service{
    text-align: center;
}

.our-service h2{
    margin-top: 0.8rem;
    margin-bottom: 1.2rem;
}

.our-service p{
    margin-bottom: 3.5rem;
}

.services-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}

.services-box img{
    border-radius: 1rem 1rem 0 0;
}

.services-box h3{
    font-size: 1.6rem;
    /* margin-block: 0.5rem; */
    margin-top: 0.6rem;
}

.services-box p{
    line-height: 1.5;
    margin-block: 1.5rem;
}

.services-box button{
    padding: 0.5rem 1.3rem;
    font-size: 1rem;
    border-radius: 1.5rem;
}

.service-box img{
    transition: all 1s;
    width: 100%;
}


.service-box:hover .service-img img{
    transform: scale(1.2);
    border-radius: 1.5rem;
    /* height: 250px; */
}

.service-box:hover{
    box-shadow: 0 0 45px rgba(0, 0, 0, .2);
}

.service-img{
    height: 240px;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: all 1s;
    border-radius: 1rem 1rem 0 0;
}

.service-box{
    overflow: hidden;
    padding-bottom: 2rem;
    overflow-y: hidden;
}

.service-box h3,
.service-box p,
.service-box button{
    margin-left: 1rem;
}

.our-features{
    max-width: 900px;
    text-align: center;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.our-features h2{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.feature-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.feature-list .feature-box{
    background-color: #F8F8F8;
    padding: 2rem 1rem 1.5rem 1rem;
    border: 1px solid var(--white-color);
    border-radius: 1rem;

}

.feature-box:hover{
    border: 1px solid var(--primary-color);
}

.feature-list i{
    font-size: 3.5rem;
    color: var(--primary-color);
    /* display: block; */
    padding: 1.6rem 1.3rem;
    background-color: white;
    border-radius: 5px;
}

.feature-list h3{
    font-size: 1.6rem;
    margin-block: 0.8rem;
}

.feature-list p{
    padding: 0px 1.3rem;
    margin-bottom: 0.7rem;
    line-height: 1.5;
    color: gray;
}

.feature-list button{
    padding: 0.8rem 1.5rem;
    border-radius: 1.5rem;
    font-size: 1rem;
    margin-top: 1.3rem;
}

.our-offers{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.our-offers h2{
    margin-bottom: 1rem;
    margin-top: 0.7rem;
}


/* ======================== Lending InvestMent CSS =============================== */

.lending-money{
    gap: 3.5rem;
}

.lending-money .first-box{
    width: 40%;
    padding: 1rem 2rem;
    background-color: #F8F8F8;
    border-radius: 1rem;
}

.first-box h3{
    font-size: 1.3rem;
    padding: 2rem 1.3rem;
    background-color: white;
    margin-bottom: 1rem;
    border-radius: 1rem;
    font-weight: bolder;
}

.first-box h3:nth-child(1)
{
    background-color: #00d084;
    color: white;
}

.lending-money .second-box{
    width: 60%;
    gap: 1.5rem;
}

.second-box .offer-img{
    width: 45%;
    height: 100%;
}

.offer-img img{
    height: 100%;
    border-radius: 1rem;
}

.second-box .investment-content{
    width: 55%;
}

.investment-content p{
    color: gray;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1.3rem;
}

.investment-content button{
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 2rem;
}

/* ============  Our blogs CSS ==============*/

.our-blogs{
    text-align: center;
    margin-block: 4rem;
}

.blog-box{
    padding: 1rem;
    background-color: #F8F8F8;
    border-radius: 1rem;
}

.blog-box img{
    border-radius: 1rem;
    transition: all 1s;
}

.blog-img{
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}

.blog-box:hover .blog-img img{
    transform: scale(1.3);
}

.blog-box .btn-abso{
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.7rem;
}

.blog-box h3{
    font-size: 1.5rem;
    margin-block: 1rem;
}

.blog-box p{
    line-height: 1.5;
    color: gray;
}

.blog-box .admin img{
    border-radius: 50%;
    height: 70px;
    width: 70px !important;
}

.admin{
    margin-top: 2rem;
}

.admin h3{
    margin-top: 0.7rem;
    margin-left: 0.8rem;
}

.admin h3 span{
    display: block;
    color: gray;
    font-weight: 300;
    font-size: 1.2rem;
}

.owl-carousel{
    position: relative;
}

 .owl-carousel .owl-nav .owl-next
 {
    position: absolute !important;
    top: -50px;
    left: 20px;
    font-size: 1.2rem;
}


.owl-carousel .owl-nav .owl-prev
{
   position: absolute !important;
   top: -50px;
   right: 20px;
   font-size: 1.2rem;
}

.owl-carousel .owl-nav .owl-prev span,.owl-carousel .owl-nav .owl-next span{
    font-size: 2rem !important;
    background-color: var(--primary-color) !important;
    padding: 0rem 2rem !important;
    color: white;
    border-radius: 1rem;
 }


 /* ==================   Frequently Questions  ================== */

 .asked-questions{
    text-align: center;
    margin-block: 4rem;
 }

 .asked-questions h2{
    padding: 1rem 0;
 }

 .question-list{
    align-items: center;
    gap: 3rem;
    margin-bottom: 6rem;
 }

.question-list .question-box{
    width: 50%;
    border-radius: 1rem;
}

.question-box:nth-child(1){
    background-color: #F8F8F8;
    padding: 1rem 2rem;
}

.question-box h3{
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    margin-block: 0.3rem;

    /* border-bottom: 1px solid black; */
    display: flex;
    justify-content: space-between;
    font-weight: 300;
}

.question p{
    line-height: 1.5;
    color: gray;
    transition: all 2s;
}

.freq-border{
    border:2px solid var(--primary-color)
}

.question-box .question{
    padding: 0.3rem 0.8rem;
    background-color: white;
    margin-bottom: 0.3rem;
}


.hide{
    display: none;
}

.question-box img{
    background-color: var(--primary-color);
    border-radius: 1rem;
}

/* ================  Our Team CSS  ======================== */

.our-team{
    text-align: center;
}

.our-team h2{
    margin-block: 1rem;
}

.all-team{
    justify-content: space-between;
    gap: 60px;
}

.team-box{
    width: 25%;
    text-align: center;
}

.team-box img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 3px dotted var(--primary-color);
    padding: 0.3rem;
}

.team-box ul{
    justify-content: space-between;
}

.team-box ul li i{
    font-size: 1.3rem;
    padding: 0.5rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    /* margin-left: 0.3rem; */
    color: var(--white-color);
}

.team-box h2{
    margin-top: 0.7rem;
    font-size: 1.5rem;
}

.team-box h3{
    margin-block: 0.7rem;
    color: gray;
    font-size: 1.3rem;
    font-weight: 300;
}

.team-data{
    margin-top: -100px;
    padding: 6rem 1.5rem 1.5rem 1.5rem;
    background-color: #F8F8F8;
    border-radius: 1rem 1rem 0 0;
    position: relative;
    z-index: -1;
}


.team-box:hover img{
    border: 3px dotted white;
}

.team-data::before{
    content: "";
    width: 100%;
    height: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    z-index: -1;
    border-radius: 1rem;
    transition: all 1s;
} 
 
.team-box:hover .team-data::before{

   height: 100%;
    z-index: -2;
    /* opacity: 0.5; */
} 

.team-box:hover .team-data{
    z-index: -1;
    color: white;
    background-color: transparent;
}

.team-box:hover h3{
    color: var(--white-color);
}

.team-box:hover ul li i{
    background-color: white;
    color: var(--primary-color);
}

/* ====================  Testimonials CSS  ==================== */
.testimonial{
    text-align: center;
    margin-top: 5rem;
}

.testimonial h2{
    margin-block: 1rem;
}

.all-reviews{
    position: relative;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.owl-carousel .owl-nav.disabled{
    display: block !important;
}

.review-box{
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}

.review-box img{
    border-radius: 50%;
    width: 100px !important;
    margin: auto;
    height: 100px;
}

.review-box p{
    line-height: 1.5;
    color: gray;
    margin-top: 0.8rem;
}

.review-box h3{
    font-size: 1.7rem;
    margin-bottom: 0.3rem;
}

.review-box span{
    font-weight: bold;
    color: gray;
}

.rating{
    justify-content: space-between;
    text-align: left;
    margin-top: 1.3rem;
}

.rating i{
    color: var(--primary-color);
}

/* ==============   FOOTER CSS  =================== */
footer{
    background-color: #17303B;
    color: white;
    padding: 4rem 0;
}

.footer-content{
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid rgb(224, 201, 201);
    padding-top: 2rem;
    gap: 30px;
}



.footer-content>div{
    width: 31%;
}

.footer-content >div ul li a{
    color: var(--white-color);
}

.footer-content h3{
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
}

.footer-content >div ul li{
    padding: 0.5rem;
}

.footer-links{
    justify-content: space-between;
}

.footer-links ul li{
    padding: 0.5rem;
}

.footer-content div:nth-child(1) p
{
    color: gray;
    line-height: 1.5;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footer-content div:nth-child(1) button{
    padding: 1rem;
    display: flex;
    background-color: var(--primary-color);
    border: none;
    border-radius: 1rem;
    margin-bottom: 1rem;
    color: white;
    font-size: 1.1rem;
}

.footer-content div:nth-child(1) button span{
    /* display: block; */
    font-size: 1.3rem;
    margin-right: 0.5rem;
    display: block;
}









